.chat
  .header
    .chat__header__left-box
      .header__left-box__group-name
        = @group.name
      .header__left-box__member
        Member:
        - @group.users.each do |user|
          = user.name

    .header__right-box
      =link_to edit_group_path(@group) do
        .header__right-box__btn
          Edit

  .message-list
    = render @messages
    

  .form
    .form__message
      = form_for [@group, @message] do |f|
        .form__message__box
          = f.text_field :body, class: 'form__message__box__text', placeholder: ' type a message '
          = f.label :image, class: 'form__message__box__image' do
            = icon('far', 'image')
            = f.file_field :image, class: 'form__message__box__image__file'
        = f.submit 'Send', class: 'form__message__btn'