.side-bar
  .header
    .header__items
      .header__items__user
        = current_user.name
      .header__items__icons
        = link_to new_group_path, class: "header__items__icons1" do
          = icon('far', 'edit', class: 'icons1')
        = link_to edit_user_path(current_user), class: "header__items__icons2" do
          = icon('fas', 'cog', class: 'icons2')
  
  
  .group-list
    - current_user.groups.each do |group|
      .group-list__contents
        = link_to group_messages_path(group) do
          .group-list__contents__group-name
            = group.name
          .group-list__contents__text
            =group.show_last_message